<div class="container">
  <div class="headline">
    <h2>Contate-me</h2>
    <p>
      Entre em contato para transformar suas vontades em realidade.</p>
      <p>E-mail: {{ email }}</p>
      <p>Telefone: {{ phone }}</p>
  </div>
  <div class="contacts">
    <a href="https://wa.me/5551992058011?text=Olá,%20gostaria%20de%20obter%20mais%20informações%20sobre%20seus%20serviços">
      <i class="ci ci-whatsapp ci-2x"></i>
      <span>WhatsApp</span>
    </a>
    <a href="https://www.instagram.com/daniel.maica/">
      <i class="ci ci-instagram ci-2x"></i>
      <span>Instagram</span>
    </a>
    <a href="mailto:danielmaica.dev@gmail.com">
      <i class="ci ci-gmail ci-2x"></i>
      <span>E-mail</span>
    </a>
  </div>
</div>