<div class="container">
  <h2>Portfólio</h2>
  <ul class="projects">
    <li class="project">
      <h4>Consultoria</h4>
      <p>Template de projeto para consultorias.</p>
      <a
        href="https://landing-page-consultoria.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-consultoria.png"
          alt="project consultancy"
        />

        <span class="back-link">ver mais</span>
      </a>
    </li>
    <li class="project">
      <h4>Doctor Care</h4>
      <p>Template de projeto para consultório médico.</p>
      <a
        href="https://doctor-care-snowy.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-doctor-care.png"
          alt="project consultancy"
        />
        <span class="back-link">ver mais</span>
      </a>
    </li>
    <li class="project">
      <h4>Portfólio</h4>
      <p>Template de projeto para portfólio pessoal.</p>
      <a
        href="https://danielmaicadev.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-portfolio.png"
          alt="project consultancy"
        />
        <span class="back-link">ver mais</span>
      </a>
    </li>
  </ul>
</div>
