<div class="container">
  <h2>Portfolio</h2>
  <ul class="projects">
    <li class="project">
      <a
        href="https://landing-page-consultoria.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-consultoria.png"
          alt="project consultancy"
        />

        <span class="back-link">see more</span>
      </a>
      <h4>Consultancy</h4>
      <p>Project template for consulting companies.</p>
    </li>
    <li class="project">
      <a
        href="https://doctor-care-snowy.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-doctor-care.png"
          alt="project consultancy"
        />
        <span class="back-link">see more</span>
      </a>
      <h4>Doctor Care</h4>
      <p>Project template for doctor's office.</p>
    </li>
    <li class="project">
      <a
        href="https://danielmaicadev.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="front-link"
          src="assets/project-portfolio.png"
          alt="project consultancy"
        />
        <span class="back-link">see more</span>
      </a>
      <h4>Portfolio</h4>
      <p>Project template for personal portfolio.</p>
    </li>
  </ul>
</div>
