@import '../../../color-variables.scss';

* {
  background-color: $first-color;
  color: $second-color;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  gap: 1rem;

  h2 {
    font-size: 2rem;
    color: $fourth-color;
  }
  
  p {
    text-align: justify;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}