<footer>
  <img ngSrc="assets/logo.jpeg" alt="logo" id="logo" width="50" height="50" style="border-radius: 50%;">
  <span>Copyright © 2024 Daniel Maicá. Todos os direitos reservados.</span>
  <div class="social-media">
    <a href="https://github.com/danielmaica" target="_blank" rel="noopener noreferrer">
      <i class="ci ci-github ci-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/daniel-escobar-maica/" target="_blank" rel="noopener noreferrer">
      <i class="ci ci-linkedin ci-2x"></i>
    </a>
    <a href="https://www.instagram.com/daniel.maica/" target="_blank" rel="noopener noreferrer">
      <i class="ci ci-instagram ci-2x"></i>
    </a>
  </div>
</footer>