<header>
  <img ngSrc="assets/logo.jpeg" alt="logo" id="logo" width="50" height="50" priority style="border-radius: 50%;">
  <div class="nav">
    <nav>
      <ul>
        <li>
          <a href="#about" rel="noopener noreferrer">
            About
          </a>
        </li>
          <li>
            <a href="#portfolio" rel="noopener noreferrer">
              Portfolio
            </a>
          </li>
        <li>
          <a href="#contact" rel="noopener noreferrer">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>