<app-header />
<main>
  <section class="hero-section">
    <div class="container">
      <h1>Olá, eu sou <span id="name">Daniel Maicá</span></h1>
      <p>Desenvolvedor Full Stack</p>
      <div class="contact">
        <a href="https://wa.me/5551992058011?text=Olá,%20gostaria%20de%20obter%20mais%20informações%20sobre%20seus%20serviços" target="_blank" rel="noopener noreferrer">
          <button role="button">CONTATE-ME</button>
        </a>
        <div class="social-media">
          <a
            href="https://github.com/danielmaica"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="ci ci-github ci-2x"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/daniel-escobar-maica/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="ci ci-linkedin ci-2x"></i>
          </a>
          <a
            href="https://www.instagram.com/daniel.maica/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="ci ci-instagram ci-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <img
      class=""
      ngSrc="assets/perfil.png"
      alt="Daniel's photo"
      width="200"
      height="200"
      priority
    />
  </section>

  <section class="about-section" id="about">
    <app-about />
  </section>

  <section class="skills-section" id="skills">
    <app-skills />
  </section>

  <section class="portfolio-section" id="portfolio">
    <app-portfolio />
  </section>

  <section class="contact-section" id="contact">
    <app-contact />
  </section>
</main>
<app-footer />
