<app-header />
<main>
  <section class="hero-section">
    <div class="container">
      <h1>Hi, I'm <span id="name">Daniel Maicá</span></h1>
      <p>
        Full Stack Developer
      </p>
      <div class="contact">
        <button class="" role="button">
          CONTACT ME
        </button>
        <div class="social-media">
          <a href="https://github.com/danielmaica" target="_blank" rel="noopener noreferrer">
            <i class="ci ci-github ci-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/daniel-escobar-maica/" target="_blank" rel="noopener noreferrer">
            <i class="ci ci-linkedin ci-2x"></i>
          </a>
          <a href="https://www.instagram.com/daniel.maica/" target="_blank" rel="noopener noreferrer">
            <i class="ci ci-instagram ci-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <img class="" ngSrc="assets/perfil.png" alt="Daniel's photo" width="200" height="200" priority>
  </section>

  <section class="about-section">
    <app-about />
  </section>

  <section class="skills-section">
    <app-skills />
  </section>

  <section class="portfolio-section">
    <app-portfolio />
  </section>

  <section class="contact-section">
    <app-contact />
  </section>
</main>
<app-footer />