<div class="container">
  <h2>Skills</h2>
  <div class="skill-cards">
    <app-skill-card skill="HTML" description="Linguagem de marcação utilizada na construção de páginas na Web." icon="html" />
    <app-skill-card skill="CSS" description="Chamado de linguagem Cascading Style Sheet, é utilizado para estilizar elementos escritos em uma linguagem de marcação como HTML." icon="css" />
    <app-skill-card skill="JavaScript" description="Poderosa linguagem de programação que pode adicionar interatividade a um site." icon="js" />
    <app-skill-card skill="TypeScript" description="Superconjunto de JavaScript que adiciona digitação estática opcional e recursos avançados ao JavaScript." icon="ts" />
    <app-skill-card skill="Sass" description="Linguagem de extensão do CSS que adiciona funcionalidades poderosas e elegantes ao estilo padrão da stylesheet." icon="sass" />
    <app-skill-card skill="Angular" description="Framework de código aberto desenvolvido pelo Google para a criação de aplicativos dinâmicos e interativos da web." icon="angular" />
    <app-skill-card skill="C#" description="Linguagem de programação utilizada para a criação de muitos tipos de aplicativos seguros e robustos que são executados no .NET." icon="csharp" />
    <app-skill-card skill="MongoDB" description="Sistema de gerenciamento de banco de dados (DBMS) não relacional, utilizado para processar e armazenar várias formas de dados." icon="mongodb" />
  </div>
</div>