@import '../../../color-variables.scss';

* {
  background-color: $first-color;
  color: $second-color;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

  h2 {
    font-size: 2rem;
    color: $fourth-color;
  }

  .skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: scroll;
    // scroll-snap-type: x mandatory;

    app-skill-card {
      scroll-snap-align: start;
    }
  }

  .skill-cards::-webkit-scrollbar {
    height: 0.5rem;
  }

  .skill-cards::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    width: 0.3rem;
    background-color: $fifth-color;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .skill-cards {
    padding: 0 8rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}